body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #c0ede8;
}

p {
  margin: 5px 0;
}

/* Logo */
.logo {
  padding-bottom: 10px;
}

#logo {
    padding-top: 25px;
    padding-left: 2px;
}

#parachute {
    padding-bottom: 8px;
}

#phrase {
    padding-left: 110px;
    color: black;
}

/* Nav */
.navTabs:hover {
  color: #EF5D60;
  cursor: pointer;
}

.navTabs {
  font-size: 19px;
  padding: 10px 15px;
  text-align: center;
}

li a {
  color: rgb(44, 62, 80)

}

li.active {
  border-top: 1px solid #76818E;
  border-right: 1px solid #76818E;
  border-left: 1px solid #76818E;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: white;
}

li.inactive {
  border-bottom: 1px solid #76818E;
}

/* Search */
.form-group {
  display: inline-block;
  width: 100%;
  position: relative;
}

#searchTerm {
  border: 1px solid #76818E;
}

#searchBtn {
  width: 20%;
  border: none;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.glyphicon-search {
  color: #333;
}

.glyphicon-bookmark {
  font-size: 21px;
}

#recentSearches {
  background-color: white;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #76818E;
  font-size:16px;
  margin-bottom: 16px;
}

h3 {
  border-bottom: 1px solid #76818E;
  font-size: 24px;
  margin: 10px 0;
}

/* Content Boxes */
.contentBox {
  background-color: white;
  padding: 20px;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid #76818E;
  border-bottom: 1px solid #76818E;
  border-left: 1px solid #76818E;
  display:none;
}

h4 {
  border-bottom: 1px solid #76818E;
  padding-bottom: 3px;
  font-size: 22px;
}


/* Images */
.pixabayImg {
  vertical-align: top;
  padding: 5px;
  width: 200px;
}

.pixabayImg:hover {
   transform: scale(2);
  -webkit-transition: all .2 ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 9;
}


/* Weather */
#weatherBox {
  margin: 0px auto;
}

.weekForecast {
  padding-bottom: 15px;
}

.weatherCity {
  font-size: 16px;
  margin-bottom: 5px;
}

.currentTemp {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  display: inline-block;
}

.currentCond {
  font-size:20px;
  margin-bottom: 5px;
  padding-left: 10px;
  display: inline-block;
}

#weatherBox ul {
  margin: 0;
  padding: 0;
}

#weatherBox li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.dayForecast {
  display: inline-block;
  width: 105px;
  text-align: center;
  padding: 2px 5px;
  margin: 5px;
  border: 1px solid #76818E;
  border-radius: 5px;

}

/* Map */
#map, #map2, #map3 {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.searchHistoryTerms {
  margin: 5px;
  display:block;
  background-color: white;
  border: 1px solid #EF5D60;
}

.searchHistoryTerms:hover {
  background-color: #EF5D60;
  color: white;
}

/* Points of Interest */
.interestHolder {
  display: inline-block;
  vertical-align: top;
  display: table-cell;
  text-align: center;
  padding:5px 10px;
  overflow: auto;
}

.interestText {
  display: inline-block;
}
.interestImage {
  max-height: 200px;
  display: inline-block;
}

.interestImage:hover {
  opacity:0.5;
}


.interestName {
  font-size: 18px;
  width: 100%;
  line-height: 18px;
}

.interestAddress {
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  word-wrap: normal;
}

.interestAddress:hover {
  cursor: pointer;
  color: #EF5D60;
  text-decoration: none;
}

.dropDownItems {
  background-color: white;
  border-top: black 1px solid;
}

li.interestHolder {
  text-align: left;
}

#imgList1 {
  text-align: left;
  white-space: initial !important;
}


/* Footer */
footer {
  position: fixed;
  background-color: #656e7a;
  bottom: 0;
  width: 100%;
  height: 40px;
}

p#copyright, p#visitCounter {
  text-align: center;
  padding-bottom: 0.5px;
  position: relative;
  font-size: 10px;
  color: white;
}


