body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #addedc;
}

p {
  margin: 5px 0;
}

/* Nav */
.navTabs:hover {
  opacity: 0.5;
  cursor: pointer;
}

.navTabs {
  font-size: 19px;
  padding: 10px 15px;
  text-align: center;
}

li a {
  color: rgb(44, 62, 80)

}

li.active {
  border-top: 1px solid #547980;
  border-right: 1px solid #547980;
  border-left: 1px solid #547980;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: white;
}

li.inactive {
  border-bottom: 1px solid #547980;
}

/* Search */
.form-group {
  display: inline-block;
  width: 70%;
}

#searchTerm {
  border: 1px solid #547980;
}

#searchBtn {
  width: 20%;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.glyphicon-search {
  color: #333;
}

#recentSearches {
  background-color: white;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #547980;
  font-size:16px;
}

h3 {
  border-bottom: 1px solid #594f4f;
  margin-top: 10px;
}

/* Content Boxes */
.contentBox {
  background-color: white;
  padding: 20px;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid #547980;
  border-bottom: 1px solid #547980;
  border-left: 1px solid #547980;
  display:none;
}

h4 {
  border-bottom: 1px solid #594f4f;
  padding-bottom: 3px;
  font-size: 22px;
}

/* Insta */
.instaImage {
  max-width: 25%;
  padding: 5px;
}

/* Weather */
#weatherBox {
  margin: 0px auto;
}

.weatherCity {
  font-size: 16px;
  margin-bottom: 5px;
}

.currentTemp {
  font-size: 30px;
  margin-bottom: 5px;
}

.currentCond {
  font-size:20px;
  margin-bottom: 5px;
}

#weatherBox ul {
  margin: 0;
  padding: 0;
}

#weatherBox li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.dayForecast {
  display: inline-block;
  width: 105px;
  text-align: center;
  padding: 2px 5px;
  margin: 5px;
  border: 1px solid #594f4f;
  border-radius: 5px;

}

/* Map */
#map {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.searchHistoryTerms {
  margin: 5px;
  display:block;
}

/* Points of Interest */
.interestHolder {
  display: block;
  padding-bottom: 10px;
}

.interestImage {
  display: inline-block;
  padding-right: 10px;
}

.interestText {
  display: inline-block;
}

.interestName {
  font-size: 24px;
}

.interestAddress {
  font-size: 18px;
}
