body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #c0ede8;
}

p {
  margin: 5px 0;
}

/* Nav */
.navTabs:hover {
  color: #EF5D60;
  cursor: pointer;
}

.navTabs {
  font-size: 19px;
  padding: 10px 15px;
  text-align: center;
}

li a {
  color: rgb(44, 62, 80)

}

li.active {
  border-top: 1px solid #76818E;
  border-right: 1px solid #76818E;
  border-left: 1px solid #76818E;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: white;
}

li.inactive {
  border-bottom: 1px solid #76818E;
}

/* Search */
.form-group {
  display: inline-block;
  width: 70%;
}

#searchTerm {
  border: 1px solid #76818E;
}

#searchBtn {
  width: 20%;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.glyphicon-search {
  color: #333;
}

#recentSearches {
  background-color: white;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #76818E;
  font-size:16px;
}

h3 {
  border-bottom: 1px solid #76818E;
  margin-top: 10px;
}

/* Content Boxes */
.contentBox {
  background-color: white;
  padding: 20px;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid #76818E;
  border-bottom: 1px solid #76818E;
  border-left: 1px solid #76818E;
  display:none;
}

h4 {
  border-bottom: 1px solid #76818E;
  padding-bottom: 3px;
  font-size: 22px;
}


/*Images Scrolly*/
.scrollbar {
  width: 100%;
  height: 10px;
}

.scrollbar .handle {
  width: 100px;
  height: 100px;
  background: #222;
}

.frame {
  width: 100%;
  height: 160px;
  padding: 0;
}

.frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.frame .slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 120px;
  height: 100%;
}


/* Weather */
#weatherBox {
  margin: 0px auto;
}

.weatherCity {
  font-size: 16px;
  margin-bottom: 5px;
}

.currentTemp {
  font-size: 30px;
  margin-bottom: 5px;
}

.currentCond {
  font-size:20px;
  margin-bottom: 5px;
}

#weatherBox ul {
  margin: 0;
  padding: 0;
}

#weatherBox li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.dayForecast {
  display: inline-block;
  width: 105px;
  text-align: center;
  padding: 2px 5px;
  margin: 5px;
  border: 1px solid #76818E;
  border-radius: 5px;

}

/* Map */
#map, #map2, #map3 {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.searchHistoryTerms {
  margin: 5px;
  display:block;
  background-color: white;
  border: 1px solid #EF5D60;
}

.searchHistoryTerms:hover {
  background-color: #EF5D60;
  color: white;
}

/* Points of Interest */
.interestHolder {
  display: inline-block;
  vertical-align: top;
  padding:5px 10px;
  width: 33%;
}

.interestImage {
  max-width: 100%;
  display: inline-block;
}

.interestText {
  display: inline-block;
}

.interestName {
  font-size: 18px;
}

.interestAddress {
  font-size: 12px;
}

.dropDownItems {
  background-color: white;
  border-top: black 1px solid;

}

footer {
  text-align: center;
  position:fixed;
  bottom:0;
}

